
apiVersion: apps/v1

kind: Deployment
metadata:
  name: tracking-api-deployment
  namespace: logistics-prod

spec:
  replicas: 3
  selector:
    matchLabels:
      app: tracking-api
  template:
    metadata:
      labels:
        app: tracking-api
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      - name: tracking-app
       
        image: ghcr.io/pink2026/my-secure-app:latest
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
        ports:
        - containerPort: 5000

        resources:
          limits:
            cpu: "500m"

            memory: "256Mi"
          requests:
            cpu: "250m"
            memory: "128Mi"

        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
